[submodule "src/libs/tthresh"]
	path = src/libs/tthresh
	url = https://github.com/rballester/tthresh.git
[submodule "src/libs/dlib"]
	path = src/libs/dlib
	url = https://github.com/davisking/dlib.git
[submodule "src/libs/gedlib"]
	path = src/libs/gedlib
	url = https://github.com/dbblumenthal/gedlib.git
